/* Typography and CSS variables */
:root {
  /* Colors */
  --bg-color: #12131a;
  --surface-color: #1f1f27;
  --surface-container: #292931;
  --text-primary: #e4e1ec;
  --text-muted: #b9cacb;

  /* Player Accents */
  --color-player-x: #00f0ff;
  --color-player-o: #ebb2ff;

  /* Layout & Geometry */
  --radius-cell: 1rem;
  --radius-board: 1.5rem;
  --grid-gap: 1rem;
  --container-padding: 2rem;
}

/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Custom styling */
body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 600px;
  width: 90%;
}

.score-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--grid-gap);
  width: 100%;
}

.player-card {
  flex: 1;
  background-color: var(--surface-color);
  padding: var(--container-padding);
  border-radius: var(--radius-board);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.game-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  width: 100%;
  border-radius: var(--radius-board);
  background-color: var(--surface-container);
  padding: var(--container-padding);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.game-cell {
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-cell);
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
}

.hidden {
  display: none;
}
